@import "tailwindcss";

/* inputs */

.input-base {
  border: 1px solid #d1d5db;
  border-radius: 6px;
  padding: 8px;
  width: 100%;
}

.input-base:focus {
  outline: none;
  border-color: #9333ea;
  box-shadow: 0 0 0 2px rgba(147, 51, 234, 0.2);
}


/* label padrão */

.label-base {
  display: block;
  font-size: 14px;
  font-weight: 600;
  color: #1f2937;
  margin-bottom: 4px;
}


/* botão principal */

.btn-primary {
  width: 100%;
  background: #9333ea;
  color: white;
  padding: 12px;
  border-radius: 6px;
  font-weight: 600;
  transition: 0.2s;
  cursor: pointer;
}

.btn-primary:hover {
  background: #7e22ce;
}


/* cards */

.card {
  background: white;
  border: 1px solid #e5e7eb;
  border-radius: 10px;
  padding: 20px;
}


/* container de tags */

.tag-container {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin-top: 8px;
}


/* incluir habilidades */

.tag-include {
  background: #ede9fe;
  color: #6d28d9;
  padding: 4px 10px;
  border-radius: 6px;
  font-size: 13px;
  cursor: pointer;
}

.tag-include:hover {
  background: #ddd6fe;
}


/* excluir habilidades */

.tag-exclude {
  background: #fee2e2;
  color: #b91c1c;
  padding: 4px 10px;
  border-radius: 6px;
  font-size: 13px;
  cursor: pointer;
}

.tag-exclude:hover {
  background: #fecaca;
}